:root {
  --bodyColor: rgba(34, 36, 52, 255);
  --textGreen: #0ef0ad;
  --textGray: #c5c5ca;
  --textWhite: #fff;
}

// LINKED FONTS NAMES

$chakra-petch: "Chakra Petch", sans-serif;
$inter: "Inter", sans-serif;

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: var(--textGreen);
}
::-webkit-scrollbar-thumb {
  background-color: #09926a;
}
a {
  text-decoration: none;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  width: 100vw;
  background-color: var(--bodyColor);
  font-family: "Inter", sans-serif;
}
// MOUSE FOLLOWER
.mouse-follower {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid var(--textGreen);
  position: fixed;
  pointer-events: none;
  transition: 50ms linear;
  z-index: 10;
  top: -10px;
  left: -10px;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 50;
}
.mouse-follower-dot {
  width: 6px;
  height: 6px;
  border-radius: 50px;
  background-color: var(--textGreen);
  position: fixed;
  transition: 30ms linear;
  z-index: 10;
  top: -10px;
  left: -10px;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 50;
}
// ANIMATION MAIN PAGE
.main-page-decoration {
  width: 100%;
  height: 1040px;
  position: absolute;
  left: 0;
  top: 0;
  .object-block {
    img:nth-child(1) {
      position: absolute;
      top: 20%;
      left: 5%;
      animation: objectRotation 100s ease infinite;
    }
    img:nth-child(2) {
      position: absolute;
      left: calc(50% - 250px);
      bottom: 5%;
    }

    img:nth-child(3) {
      position: absolute;
      top: 6%;
      left: calc(50% - 250px);
    }
  }
}
@keyframes objectRotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1080deg);
  }
}

// HEADER TOP MENU
.site-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navigation-wrapper {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 85px;
  align-items: center;
  z-index: 9998;
  background: linear-gradient(
    153.32deg,
    rgba(255, 255, 255, 0.3) -65.62%,
    rgba(255, 255, 255, 0.1) 83.28%
  );
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
  padding: 0 20px 0 100px;
}
.navigation-content {
  display: flex;
  align-items: center;
}
.navigation-items {
  display: flex;
  gap: 50px;
}
.logo-block {
  display: flex;
  gap: 8px;
  align-items: center;
  img:nth-child(1) {
    width: 42px;
    height: 27px;
  }
  img:nth-child(2) {
    width: 122px;
    height: 23px;
  }
}
.phone-block {
  display: flex;
  align-items: center;
  gap: 8px;
  i {
    font-size: 25px;
    color: var(--textWhite);
  }
  p {
    font-size: 16px;
    color: var(--textGray);
  }
}
.navigation-menu {
  display: flex;
  gap: 15px;
  padding: 0 220px;
  align-items: center;
}
.menu-item {
  display: flex;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  .nav-menu-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    padding: 15px 0 15px 15px;
    width: 170px;
    top: 120px;
    left: 0;
    backdrop-filter: blur(25px);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0.9) 100%
    );
    box-shadow: 0px 4px 24px 1px rgba(35, 16, 94, 0.25);
    border-radius: 10px;
    gap: 8px;
    transition: 0.5s ease;
    opacity: 0;
    pointer-events: none;
    a {
      color: var(--textWhite);
      height: 25px;
      padding: 5px 0;
      font-size: 15px;
      transition: 0.3s ease;
      white-space: nowrap;
      width: 100%;
      &:hover {
        cursor: pointer;
        color: var(--textGreen);
        letter-spacing: 1px;
      }
    }
  }
  .services-dropdown {
    width: 200px;
  }
  &:hover .nav-menu-dropdown {
    opacity: 1;
    top: 40px;
    pointer-events: auto;
  }
  p {
    font-size: 16px;
    color: var(--textWhite);
    position: relative;
    text-align: center;
    padding: 15px 0;
    &:hover {
      color: var(--textGreen);
    }
    &:hover i {
      color: var(--textGreen);
    }
    &:hover::after {
      opacity: 1;
      transform: rotate(310deg);
      background-color: var(--textGreen);
    }
    &::after {
      content: "";
      position: absolute;
      left: 15%;
      top: 50%;
      transform: translate(-15%, -50%);
      width: 30px;
      height: 1px;
      background-color: var(--textWhite);
      opacity: 0;
      transition: 0.3s ease;
    }
    i {
      font-size: 14px;
      color: var(--textWhite);
      font-weight: 800;
    }
  }
}
.nav-pages-dropdown {
  opacity: 1;
  .nav-pages-hover {
    display: flex;
    position: relative;
    width: 100%;
    &:hover .nav-pages-hover-dropdown {
      opacity: 1;
      top: -20px;
    }
    .nav-pages-hover-dropdown {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      padding: 15px 0 15px 15px;
      width: 170px;
      top: 20px;
      left: 140px;
      backdrop-filter: blur(25px);
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.9) 0%,
        rgba(0, 0, 0, 0.9) 100%
      );
      box-shadow: 0px 4px 24px 1px rgba(35, 16, 94, 0.25);
      border-radius: 10px;
      gap: 8px;
      transition: 0.5s ease;
      opacity: 0;
      a {
        color: var(--textWhite);
        height: 25px;
        padding: 5px 0;
        font-size: 15px;
        transition: 0.3s ease;
        white-space: nowrap;
        width: 100%;
        &:hover {
          color: var(--textGreen);
        }
      }
    }
  }
}
.manipulation-block {
  display: flex;
  align-items: center;
  flex: 1;
  width: 480px;
  justify-content: space-between;
  padding-left: 80px;
  .main-circles {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
.manipulation-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #303141;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: relative;
  .manipulation-dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 180px;
    left: -265px;
    background-color: #303141;
    border: 1px solid #4c4d5a;
    padding: 20px;
    width: 300px;
    gap: 24px;
    border-radius: 10px;
    transition: 0.5s ease;
    opacity: 0;
    pointer-events: none;
    h1 {
      color: white;
      font-size: 20px;
      font-family: "Chakra Petch", sans-serif;
    }
    label {
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0);
      border: 1px solid #4c4d5a;
      padding: 10px 10px;
      display: flex;
      gap: 15px;
      input {
        outline: 0;
        border: 0;
        font-size: 18px;
        width: 140px;
        flex: 1;
        background-color: rgba(0, 0, 0, 0);
        font-family: "Inter", sans-serif;
        font-weight: 200;
        color: white;
      }
      button {
        background-color: var(--textGreen);
        padding: 8px 12px;
        border-radius: 20px;
        outline: 0;
        border: 0;
        font-weight: 600;
        font-family: "Inter", sans-serif;
        font-size: 16px;
        cursor: pointer;
        transition: 0.3s ease;
        &:hover {
          background-color: #09926a;
          color: white;
        }
      }
    }
  }
  i {
    font-size: 20px;
    color: var(--textWhite);
  }
}

// LEFT MENU
.left-menu-wrapper {
  position: fixed;
  display: flex;
  z-index: 9999;
  top: 0;
  left: 0;
  background: linear-gradient(
    153.32deg,
    rgba(255, 255, 255, 0.3) -65.62%,
    rgba(255, 255, 255, 0.1) 83.28%
  );
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  border-right: 1px solid #4c4d5a;
  width: 100px;
  height: 100vh;
  padding: 30px 0;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.left-menu-item {
  display: flex;
  flex-direction: column;
  .menu-icon-block {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    > i {
      display: block;
      font-size: 28px;
      color: var(--textGray);
      &:nth-child(2) {
        display: none;
      }
    }

    > p {
      font-size: 11px;
      color: var(--textGray);
    }
  }
  &:nth-child(2) {
    gap: 18px;
    align-items: center;
    .left-menu-circle {
      border-radius: 50%;
      border: 1px solid #4c4d5a;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &:hover {
        background-color: var(--textGreen);
      }
      &:hover i {
        color: white;
      }
      i {
        font-size: 17px;
        color: var(--textGreen);
      }
    }
  }
  &:nth-child(3) {
    p {
      color: var(--textGray);
      cursor: pointer;
    }
  }
}

//LEFT MENU MODAL CSS
.left-menu-modal-block {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.68) 0%,
    rgba(0, 0, 0, 0.4) 100%
  );
  box-shadow: 0px 4px 24px 1px rgba(35, 16, 94, 0.25);
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  position: fixed;
  z-index: 99999;
  left: 100px;
  top: 0;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
  width: 95%;
  opacity: 0;
  transition: 1s ease;
  visibility: hidden;
}
.menu-modal-top {
  height: 50vh;
  align-items: center;
  justify-content: center;
  display: flex !important;
  background: rgba(0, 0, 0, 0);
  -webkit-backdrop-filter: blur(0);
  backdrop-filter: blur(0);
  box-shadow: none;
  > .navigation-menu {
    gap: 0;
    transition: 1s ease;
    .menu-item {
      p {
        font-size: 32px;
        font-family: $chakra-petch;
        display: flex;
        align-items: center;
        i {
          font-size: 32px;
        }
      }
      .nav-menu-dropdown {
        padding-right: 20px;
        padding-bottom: 30px;
        width: auto;
        top: 60px;
        gap: 20px;
        .nav-pages-hover {
          a {
            font-size: 25px;
          }
          .nav-pages-hover-dropdown {
            gap: 25px;
            width: auto;
            padding-right: 20px;
            padding-bottom: 20px;
          }
        }
        a {
          font-size: 25px;
          font-family: $chakra-petch;
        }
      }
    }
  }
}
.menu-modal-bottom {
  height: 50vh;
  align-items: end;
  justify-content: center;
  display: flex !important;
  background: rgba(0, 0, 0, 0);
  -webkit-backdrop-filter: blur(0);
  backdrop-filter: blur(0);
  box-shadow: none;
  position: absolute;
  bottom: -100px;
  right: 0;
  width: 100%;
  transition: 1s ease;
  opacity: 0;
  .modal-bottom-item {
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 212px;
    border-top: 1px solid rgba(197, 197, 197, 0.308);
    padding: 50px;
    gap: 20px;
    justify-content: center;
    &:not(:last-child) {
      border-right: 1px solid rgba(197, 197, 197, 0.308);
    }
    h1 {
      color: white;
      font-size: 25px;
      font-family: $chakra-petch;
    }
    .modal-bottom-title {
      display: flex;
      width: auto;
      height: auto;
      align-items: center;
      gap: 20px;
      .modal-bottom-circle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        background-color: #303141;
        border-radius: 50%;
        i {
          color: var(--textGreen);
          font-size: 22px;
        }
      }
      .near-circle-block {
        display: flex;
        flex-direction: column;
        gap: 2px;
        justify-content: center;
        font-family: $chakra-petch;
        color: white;
        h2 {
          font-size: 20px;
        }
        p {
          font-family: $inter;
          color: var(--textGray);
        }
      }
    }
  }
}

// MAIN CONTENT

.main-content {
  height: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  .main-page-block {
    display: flex;
    width: 100%;
    height: 1100px;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
  }
}
.green-line-block {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100%;
  transform: skew(-17deg);
  .green-big-line {
    position: absolute;
    width: 395px;
    height: 120%;
    bottom: 0;
    background: #09926a;
    z-index: -1;
    right: 15%;
    animation: grow 5s ease;
  }
  .green-small-line {
    position: absolute;
    width: 20px;
    height: 120%;
    bottom: 0;
    background: #09926a;
    z-index: -1;
    right: 12%;
    animation: shrink 8s linear infinite;
  }
}
@keyframes grow {
  from {
    height: 10%;
  }
  to {
    height: 120%;
  }
}
@keyframes shrink {
  0% {
    height: 120%;
  }
  50% {
    height: 0%;
  }
  100% {
    height: 120%;
  }
}
.green-line-transparent {
  position: absolute;
  left: -60%;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100%;
  transform: skew(-17deg);
  .green-big-transparent {
    position: absolute;
    width: 395px;
    height: 0;
    bottom: 0;
    background: linear-gradient(
      179.33deg,
      rgba(9, 146, 106, 0) 5%,
      #09926a 90%
    );
    z-index: -1;
    right: 11%;
    animation: trans-grow 10s linear infinite;
  }
  .green-small-transparent {
    position: absolute;
    width: 20px;
    height: 25%;
    bottom: 0;
    background: linear-gradient(
      179.33deg,
      rgba(9, 146, 106, 0) 5%,
      #09926a 90%
    );
    z-index: -1;
    right: 9%;
    animation: trans-shrink 10s linear infinite;
  }
}
@keyframes trans-grow {
  0% {
    height: 0%;
  }
  50% {
    height: 25%;
  }
  100% {
    height: 0%;
  }
}
@keyframes trans-shrink {
  0% {
    height: 25%;
  }
  50% {
    height: 0%;
  }
  100% {
    height: 25%;
  }
}

.stars-area-template {
  position: absolute;
  top: 15%;
  left: 15%;
  width: 100px;
  height: 100px;
  animation: stars-animation 8s linear infinite;
  img {
    max-width: 100%;
    &:nth-child(1) {
      position: absolute;
      right: 0;
    }
    &:nth-child(2) {
      position: absolute;
      right: 0;
      bottom: 0;
    }
    &:nth-child(3) {
      position: absolute;
      bottom: 0;
    }
  }
}
.stars-area-two {
  top: 57%;
  left: 55%;
}
.stars-area-three {
  top: 40%;
  left: 5%;
}
.stars-area-fourth {
  top: 18%;
  left: 0%;
  img {
    &:nth-child(4) {
      position: absolute;
      right: 50px;
      bottom: 50%;
    }
    &:nth-child(5) {
      position: absolute;
      bottom: 0;
      right: 50%;
    }
  }
}
@keyframes stars-animation {
  0% {
    width: 100px;
    height: 100px;
  }
  50% {
    width: 80px;
    height: 80px;
  }
  100% {
    width: 100px;
    height: 100px;
  }
}

.main-title-container {
  margin: 150px 0;
  width: 1320px;
  display: flex;
  height: auto;
  z-index: 20;
  justify-content: space-between;
  .left-title {
    display: flex;
    flex-direction: column;
    width: 770px;
    font-family: $chakra-petch;
    font-weight: 600;
    gap: 2px;
    justify-content: center;
    > p {
      color: var(--textGreen);
      font-size: 32px;
    }
    h1 {
      font-size: 80px;
      color: var(--textWhite);
    }
    .text-holder-block {
      display: flex;
      align-items: center;
    }
    h2 {
      font-size: 80px;
      color: var(--textGreen);
    }
    b {
      font-size: 24px;
      color: var(--textGray);
      font-family: $inter;
      font-weight: 300;
    }
    button {
      font-size: 16px;
      font-weight: 500;
      font-family: $inter;
      width: 198px;
      padding: 15px 0;
      border-radius: 15px;
      outline: 0;
      border: 0;
      background-color: var(--textGreen);
      margin-top: 30px;
      cursor: pointer;
      transition: 0.3s ease;
      &:hover {
        color: white;
        background-color: #09926a;
      }
    }
  }
}
.right-title {
  width: 416px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .right-title-buttons {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 25px;
    align-items: center;
    justify-content: center;
    gap: 25px;
    .arrow-circle {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      border: 1px solid white;
      border-radius: 50%;
      cursor: pointer;
      transition: 0.3s ease;
      &:hover {
        background-color: var(--textGreen);
      }
      &:hover i {
        color: black;
      }
      i {
        font-size: 22px;
        font-weight: 500;
        color: white;
        transition: 0.3s ease;
      }
    }
  }
  .title-block-arrow {
    display: flex;
    width: 100%;
    justify-content: end;
    gap: 15px;
    padding: 20px 0;
    align-items: end;
    img {
      width: 33px;
      height: 29px;
    }
    h2 {
      font-size: 24px;
      font-family: $chakra-petch;
      margin-bottom: 5px;
      color: var(--textWhite);
    }
  }
  .right-title-main {
    display: flex;
    width: 100%;
    height: auto;
    padding: 15px 15px;
    background-color: var(--textWhite);
    flex-direction: column;
    gap: 15px;
    align-items: center;
    > img {
      width: 376px;
      height: 471px;
    }
    h2 {
      font-size: 32px;
      font-family: $chakra-petch;
    }
    .mobile-store-block {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
}
// EXPERIENCE BLOCK CSS (SECOND SECTION OF MAIN PAGE)

.experience-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 20px;
  width: 100%;
  height: auto;
  background-color: #161829;
}
.experience-content {
  display: flex;
  width: 1320px;
  height: auto;
  justify-content: space-between;
  align-items: center;
}
.experience-image-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 636px;
  height: 664px;
  background-image: url("../images/about-block-bg.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  .image-block-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: var(--textGreen);
    padding: 30px;
    outline: 1px solid var(--textGreen);
    outline-offset: 15px;
    width: 300px;
    .odometer {
      display: flex;
      h1 {
        font-size: 56px;
        font-family: $chakra-petch;
        color: #161829;
      }
      h2 {
        font-size: 56px;
        font-family: $chakra-petch;
        color: #161829;
      }
    }
  }
}
.experience-title-block {
  display: flex;
  width: 530px;
  height: 664px;
  flex-direction: column;
  padding: 20px 10px;
  font-family: $chakra-petch;
  h4 {
    font-size: 24px;
    color: var(--textWhite);
    margin-bottom: 20px;
    span {
      color: var(--textGreen);
    }
  }
  > p {
    font-size: 16px;
    font-family: $inter;
    color: white;
    font-weight: 300;
    margin-bottom: 20px;
  }

  > span {
    font-size: 40px;
    font-weight: 600;
    color: var(--textWhite);
    margin-bottom: 20px;
    > span {
      color: var(--textGreen);
    }
  }
  .experience-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    .row-item {
      display: flex;
      justify-content: center;
      width: 50%;
      height: auto;
      flex-direction: column;
      gap: 15px;
      .odometer {
        display: flex;
        align-items: center;
        color: var(--textWhite);
        h2 {
          font-size: 32px;
          font-family: $chakra-petch;
        }
        h3 {
          font-size: 32px;
          font-family: $chakra-petch;
          color: var(--textGreen);
        }
      }
      > p {
        font-size: 14px;
        font-family: $inter;
        color: var(--textGray);
      }
      span {
        width: 86px;
        height: 1px;
        background-color: var(--textGreen);
        margin-bottom: 20px;
      }
    }
  }
  button {
    background-color: var(--textGreen);
    width: 200px;
    height: 50px;
    border-radius: 15px;
    outline: 0;
    border: 0;
    margin-top: 20px;
    font-family: $inter;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
    &:hover {
      background-color: #09926a;
      color: white;
    }
  }
}

//  MAIN PAGE SECOND SECTION  CSS

.our-games-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 20px;
  background-color: #222434;
  background-image: url("../images/our-games-bg.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  position: relative;
  width: 100%;
}
.our-games-content {
  display: flex;
  width: 1076px;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .our-games-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 636px;
    height: auto;
    gap: 20px;
    font-family: $chakra-petch;
    color: white;
    h4 {
      font-size: 24px;
      span {
        color: var(--textGreen);
      }
    }
    > span {
      font-size: 40px;
      text-align: center;
      font-weight: 600;
      > span {
        color: var(--textGreen);
      }
    }
    p {
      margin: 0;
      font-family: $inter;
      color: var(--textGray);
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      line-height: 25px;
    }
  }
}
.our-games-buttons-block {
  display: flex;
  width: 542px;
  gap: 15px;
  border: 1px solid rgba(128, 128, 128, 0.288);
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  .button-container {
    width: 60px;
    height: 60px;
    background-color: #303141;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease;
    &:hover {
      background-color: #09926a;
    }

    i {
      font-size: 40px;
      color: white;
    }
  }
}
.game-container {
  display: flex;
  width: 100%;
  height: 520px;
  border: 1px solid rgba(128, 128, 128, 0.288);
  border-radius: 10px;
  margin-top: 30px;
  background-color: #303141;
  padding: 15px 10px;
}
.game-container-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 415px;
  height: 100%;
  background-image: url("../images/game-image-1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .game-container-play {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: var(--textGreen);
    border-radius: 50%;
    transition: 0.3s ease;
    overflow: hidden;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 150px;
      height: 150px;
      background-color: #09926a;
      left: -20px;
      top: 0;
      border-radius: 50%;
      scale: 0;
      transition: 0.3s ease;
    }
    &:hover::after {
      visibility: visible;
      opacity: 1;
      scale: 1;
    }
    &:hover p {
      color: white;
    }

    p {
      font-size: 20px;
      font-style: $chakra-petch;
      font-weight: 600;
      cursor: pointer;
      color: #161829;
      transition: 0.3s ease;
      z-index: 5;

    }
  }
}
