:root {
  --bodyColor: #161829;
  --textGreen: #0ef0ad;
  --textGray: #c5c5ca;
  --textWhite: #fff;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: var(--textGreen);
}

::-webkit-scrollbar-thumb {
  background-color: #09926a;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  width: 100vw;
  background-color: var(--bodyColor);
  font-family: "Inter", sans-serif;
}

.mouse-follower {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid var(--textGreen);
  position: fixed;
  pointer-events: none;
  transition: 50ms linear;
  z-index: 10;
  top: -10px;
  left: -10px;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.mouse-follower-dot {
  width: 6px;
  height: 6px;
  border-radius: 50px;
  background-color: var(--textGreen);
  position: fixed;
  transition: 30ms linear;
  z-index: 10;
  top: -10px;
  left: -10px;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.site-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.navigation-wrapper {
  display: flex;
  position: fixed;
  width: 100%;
  height: 85px;
  align-items: center;
  z-index: 9998;
  background: linear-gradient(153.32deg, rgba(255, 255, 255, 0.3) -65.62%, rgba(255, 255, 255, 0.1) 83.28%);
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  padding: 0 20px 0 100px;
}

.navigation-content {
  display: flex;
  align-items: center;
}

.navigation-items {
  display: flex;
  gap: 50px;
}

.logo-block {
  display: flex;
  gap: 8px;
  align-items: center;
}
.logo-block img:nth-child(1) {
  width: 42px;
  height: 27px;
}
.logo-block img:nth-child(2) {
  width: 122px;
  height: 23px;
}

.phone-block {
  display: flex;
  align-items: center;
  gap: 8px;
}
.phone-block i {
  font-size: 25px;
  color: var(--textWhite);
}
.phone-block p {
  font-size: 16px;
  color: var(--textGray);
}

.navigation-menu {
  display: flex;
  gap: 15px;
  padding: 0 220px;
  align-items: center;
}

.menu-item {
  display: flex;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.menu-item .nav-menu-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  padding: 15px 0 15px 15px;
  width: 170px;
  top: 120px;
  left: 0;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.9) 100%);
  box-shadow: 0px 4px 24px 1px rgba(35, 16, 94, 0.25);
  border-radius: 10px;
  gap: 8px;
  transition: 0.5s ease;
  opacity: 0;
  pointer-events: none;
}
.menu-item .nav-menu-dropdown a {
  color: var(--textWhite);
  height: 25px;
  padding: 5px 0;
  font-size: 15px;
  transition: 0.3s ease;
  white-space: nowrap;
  width: 100%;
}
.menu-item .nav-menu-dropdown a:hover {
  cursor: pointer;
  color: var(--textGreen);
  letter-spacing: 1px;
}
.menu-item .services-dropdown {
  width: 200px;
}
.menu-item:hover .nav-menu-dropdown {
  opacity: 1;
  top: 40px;
  pointer-events: auto;
}
.menu-item p {
  font-size: 16px;
  color: var(--textWhite);
  position: relative;
  text-align: center;
  padding: 15px 0;
}
.menu-item p:hover {
  color: var(--textGreen);
}
.menu-item p:hover i {
  color: var(--textGreen);
}
.menu-item p:hover::after {
  opacity: 1;
  transform: rotate(310deg);
  background-color: var(--textGreen);
}
.menu-item p::after {
  content: "";
  position: absolute;
  left: 15%;
  top: 50%;
  transform: translate(-15%, -50%);
  width: 30px;
  height: 1px;
  background-color: var(--textWhite);
  opacity: 0;
  transition: 0.3s ease;
}
.menu-item p i {
  font-size: 14px;
  color: var(--textWhite);
  font-weight: 800;
}

.nav-pages-dropdown {
  opacity: 1;
}
.nav-pages-dropdown .nav-pages-hover {
  display: flex;
  position: relative;
  width: 100%;
}
.nav-pages-dropdown .nav-pages-hover:hover .nav-pages-hover-dropdown {
  opacity: 1;
  top: -20px;
}
.nav-pages-dropdown .nav-pages-hover .nav-pages-hover-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  padding: 15px 0 15px 15px;
  width: 170px;
  top: 20px;
  left: 140px;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.9) 100%);
  box-shadow: 0px 4px 24px 1px rgba(35, 16, 94, 0.25);
  border-radius: 10px;
  gap: 8px;
  transition: 0.5s ease;
  opacity: 0;
}
.nav-pages-dropdown .nav-pages-hover .nav-pages-hover-dropdown a {
  color: var(--textWhite);
  height: 25px;
  padding: 5px 0;
  font-size: 15px;
  transition: 0.3s ease;
  white-space: nowrap;
  width: 100%;
}
.nav-pages-dropdown .nav-pages-hover .nav-pages-hover-dropdown a:hover {
  color: var(--textGreen);
}

.manipulation-block {
  display: flex;
  align-items: center;
  flex: 1;
  width: 480px;
  justify-content: space-between;
  padding-left: 80px;
}
.manipulation-block .main-circles {
  display: flex;
  align-items: center;
  gap: 20px;
}

.manipulation-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #303141;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: relative;
}
.manipulation-circle .manipulation-dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 180px;
  left: -265px;
  background-color: #303141;
  border: 1px solid #4c4d5a;
  padding: 20px;
  width: 300px;
  gap: 24px;
  border-radius: 10px;
  transition: 0.5s ease;
  opacity: 0;
  pointer-events: none;
}
.manipulation-circle .manipulation-dropdown h1 {
  color: white;
  font-size: 20px;
  font-family: "Chakra Petch", sans-serif;
}
.manipulation-circle .manipulation-dropdown label {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #4c4d5a;
  padding: 10px 10px;
  display: flex;
  gap: 15px;
}
.manipulation-circle .manipulation-dropdown label input {
  outline: 0;
  border: 0;
  font-size: 18px;
  width: 140px;
  flex: 1;
  background-color: rgba(0, 0, 0, 0);
  font-family: "Inter", sans-serif;
  font-weight: 200;
  color: white;
}
.manipulation-circle .manipulation-dropdown label button {
  background-color: var(--textGreen);
  padding: 8px 12px;
  border-radius: 20px;
  outline: 0;
  border: 0;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}
.manipulation-circle .manipulation-dropdown label button:hover {
  background-color: #09926a;
  color: white;
}
.manipulation-circle i {
  font-size: 20px;
  color: var(--textWhite);
}

.left-menu-wrapper {
  position: fixed;
  display: flex;
  z-index: 9999;
  top: 0;
  left: 0;
  background: linear-gradient(153.32deg, rgba(255, 255, 255, 0.3) -65.62%, rgba(255, 255, 255, 0.1) 83.28%);
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  border-right: 1px solid #4c4d5a;
  width: 100px;
  height: 100vh;
  padding: 30px 0;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.left-menu-item {
  display: flex;
  flex-direction: column;
}
.left-menu-item .menu-icon-block {
  cursor: pointer;
}
.left-menu-item .menu-icon-block > i {
  font-size: 28px;
  color: var(--textGray);
}
.left-menu-item .menu-icon-block > p {
  font-size: 11px;
  color: var(--textGray);
}
.left-menu-item:nth-child(2) {
  gap: 18px;
  align-items: center;
}
.left-menu-item:nth-child(2) .left-menu-circle {
  border-radius: 50%;
  border: 1px solid #4c4d5a;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.left-menu-item:nth-child(2) .left-menu-circle:hover {
  background-color: var(--textGreen);
}
.left-menu-item:nth-child(2) .left-menu-circle:hover i {
  color: white;
}
.left-menu-item:nth-child(2) .left-menu-circle i {
  font-size: 17px;
  color: var(--textGreen);
}
.left-menu-item:nth-child(3) p {
  color: var(--textGray);
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */